[Unit]
Description=PiCamera motion recorder

[Service]
Type=simple
User=pi
EnvironmentFile=/home/pi/bin/setCreds.sh
ExecStart=/home/pi/piscripts/piCam.py
KillSignal=SIGINT
TimeoutStopSec=2s
RestartSec=200ms
Restart=always

[Install]
WantedBy=multi-user.target

